
<div (click)="goToInfoAnuncio()" class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">

  <img class="rounded-t-lg" src="../assets/apartamento-design.jpg" alt="image-anuncio" />

  <div class="p-5">

      <p class="mb-zero font-bold text-lg text-gray-900 text-green">{{anuncio.dsin}}</p>

      <p class="mb-zero font-normal text-black ">{{anuncio.bairro}} - {{anuncio.cidade}}</p>

      <div class="grid grid-cols-2 justify-between mx-auto">
        <p class="font-normal text-gray-700  mb-zero items-center justify-left flex" mask="00000-000">{{anuncio.cep}}</p>
        <!-- <img class="h-auto rounded-t-lg justify-between mx-auto" src="../assets/star.jpg" alt="star-descricao" width="100%" /> -->
      </div>

  </div>
</div>

