
<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
  <a href="#">
      <img class="rounded-t-lg" src="../assets/apartamento-design.jpg" alt="image-anuncio" />
  </a>
  <div class="p-5">
      <a href="#">
          <p class="mb-zero font-bold text-lg text-gray-900 dark:text-white">Apartamento Bayer de Moleque</p>
      </a>
      <p class="mb-zero font-normal text-gray-700 dark:text-gray-400">City Centre, Newcastle upon Tyne</p>

      <div class="grid grid-cols-2 justify-between mx-auto">
        <p class="font-normal text-gray-700 dark:text-gray-400 mb-zero items-center justify-left flex">0.3km from centre</p>
        <img class="h-auto rounded-t-lg justify-between mx-auto" src="../assets/star.jpg" alt="star-descricao" width="100%" />
      </div>

  </div>
</div>

