<div class="container-fluid">
  <div class="row wrapper-logo-form">
    <div class="col-6 signup-img">
      <div >
        <img src="../../../assets/logo.png" alt="Logo Alluni" />
      </div>
    </div>
    <div class="col-6 signup-content">
      <div class="signup-form-wrapper">
        <p>Cadastre sua conta</p>

        <div class="login-link">
          Se você já possuir uma conta,
          <a (click)="goToLogin()" href="javascript:void(0)" id="to-recover"
            ><b>Logue aqui!</b></a
          >
        </div>

        <form
          class="signup-form"
          [formGroup]="signupForm"
          (ngSubmit)="signup()"
        >
          <mat-form-field class="example-full-width">
            <mat-label>Nome</mat-label>
            <input type="text" matInput formControlName="name" />

            <mat-error *ngIf="signupForm?.get('name')?.hasError('required')">
              <strong>obrigatório</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input
              type="email"
              matInput
              formControlName="email"
              placeholder="seuemail@exemplo.com"
            />
            <mat-error
              *ngIf="
                signupForm?.get('email')?.hasError('email') &&
                !signupForm?.get('email')?.hasError('required')
              "
            >
              Informe um email válido
            </mat-error>
            <mat-error *ngIf="signupForm?.get('email')?.hasError('required')">
              <strong>obrigatório</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Senha</mat-label>
            <input type="password" matInput formControlName="password" />

            <mat-error
              *ngIf="signupForm?.get('password')?.hasError('required')"
            >
              <strong>obrigatório</strong>
            </mat-error>
          </mat-form-field>

          <div class="form-button">
          <button mat-raised-button color="primary">
            <ng-container *ngIf="!loading">Cadastrar</ng-container>
            <div *ngIf="loading" class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </button>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
