<div class="grid grid-cols-1 lg:grid-cols-2 md:grid-cols-2 sm:grid-cols-1">
  <div class="h-full w-full">
    <div class="grid full-height">
      <a class="m-auto" routerLink="/home" routerLinkActive="active">
        <img src="../../../assets/logo.png" alt="Logo Alluni" />
      </a>
    </div>
  </div>

  <div class="h-full w-full">
    <div class="grid full-height bg-gray-300">
      <div class="m-auto block text-center">
        <p class="text-xl">Cadastre sua conta</p>

        <div class="flex">
          <p class="text-md pr-2">Se você já possuir uma conta,</p>
          <a
            routerLink="/authentication/login"
            routerLinkActive="active"
            id="to-recover"
            ><b class="text-green-500">Logue aqui!</b></a
          >
        </div>

        <form
          class="signup-form"
          [formGroup]="signupForm"
          (ngSubmit)="onSubmit()"
        >
          <div>
            <mat-form-field class="example-full-width">
              <mat-label>Nome</mat-label>
              <input type="text" matInput formControlName="name" />

              <mat-error *ngIf="signupForm?.get('name')?.hasError('required')">
                <strong>obrigatório</strong>
              </mat-error>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field class="example-full-width">
              <mat-label>Email</mat-label>
              <input
                type="email"
                matInput
                formControlName="email"
                placeholder="seuemail@exemplo.com"
              />
              <mat-error
                *ngIf="
                  signupForm?.get('email')?.hasError('email') &&
                  !signupForm?.get('email')?.hasError('required')
                "
              >
                Informe um email válido
              </mat-error>
              <mat-error *ngIf="signupForm?.get('email')?.hasError('required')">
                <strong>obrigatório</strong>
              </mat-error>
            </mat-form-field>
          </div>

          <mat-form-field appearance="fill">
            <mat-label>Gênero</mat-label>
            <mat-select formControlName="gender">
              <mat-option value="M">Masculino</mat-option>
              <mat-option value="F">Feminino</mat-option>
              <mat-option value="O">Outro</mat-option>
            </mat-select>
          </mat-form-field>

          <div>
            <mat-form-field class="example-full-width">
              <mat-label>Senha</mat-label>
              <input type="password" matInput formControlName="password" />

              <mat-error
                *ngIf="signupForm?.get('password')?.hasError('required')"
              >
                <strong>obrigatório</strong>
              </mat-error>

              <mat-error
                *ngIf="signupForm?.get('password')?.hasError('minlength')"
              >
                <strong>a senha deve conter pelo menos 6 caracteres</strong>
              </mat-error>
            </mat-form-field>
          </div>

          <!--           <div>
            <mat-form-field class="example-full-width">
              <mat-label>Confirmar Senha</mat-label>
              <input
                type="password"
                matInput
                formControlName="confirmPassword"
              />

              <mat-error *ngIf="signupForm.hasError('passwordsNotEqual')"
                ><strong>senhas diferentes</strong></mat-error
              >
            </mat-form-field>
          </div>
 -->
          <div class="form-button">
            <button
              class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
            >
              Registrar
              <!-- mat-raised-button
              <ng-container *ngIf="!loading">Cadastrar</ng-container>
              <div *ngIf="loading" class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
              </div> -->
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
