<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="login-img">
                <img src="../../../assets/logo.png" alt="Logo Alluni">
            </div>
        </div>
        <div class="col-6">
            <div class="login-form">
                <p>Bem Vindo</p>

                <form action="">
      
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="ti-email"></i></span>
                          </div>
          
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Email"
                            aria-label="Email"
                            aria-describedby="basic-addon1"
                            formControlName="email"
                          />
                        </div>
                        <div
                          class="requiredField text-danger"

                        >
                          <small>Campo obrigatório</small>
                        </div>
          
                </form>
                
            </div>
            
        </div>
    </div>
</div>