<div>
  <app-navbar></app-navbar>
</div>

<div
  class="my-5 mb-0 items-center justify-center flex sm:items-center sm:justify-center sm:flex"
>
  <app-filtro-busca></app-filtro-busca>
</div>

<div
  class="lg:flex lg:justify-between md:justify-center md:flex sm:justify-center sm:flex"
>
  <div>
    <div class="my-4 mt-0">
      <app-sidebar-filtros [arrayAnuncio]="arrayAnuncio" (findAnuncio)="reciverFeedback($event)"></app-sidebar-filtros>
    </div>
  </div>

  <div *ngIf="arrayAnuncio.length == 0">
    <h2>Nenhum anúncio encontrado</h2>
  </div>

  <div *ngIf="arrayAnuncio != null">
    <div
      class="mx-3 ml-0 grid grid-cols-1 col-span-2 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-4 gap-3"
    >
      <div
        *ngFor="
          let anuncio of arrayAnuncio
            | paginate : { itemsPerPage: 10, currentPage: p }
        "
      >
          <app-card-residencia
            class="cursor-pointer sm:items-center sm:justify-center flex justify-center"
            [anuncio]="anuncio"
          ></app-card-residencia>

      </div>
    </div>

    <div *ngIf="arrayAnuncio.length != 0" class="mt-4">
      <pagination-controls
        class="mt-auto w-full justify-center flex"
        (pageChange)="p = $event"
      ></pagination-controls>
    </div>
  </div>
</div>

<div>
  <app-footer></app-footer>
</div>
