<div>
  <app-navbar></app-navbar>
</div>

<div class="my-5 items-center justify-center flex sm:items-center sm:justify-center sm:flex">
  <app-filtro-busca></app-filtro-busca>
</div>

<div class="lg:flex lg:justify-between md:justify-center md:flex sm:justify-center sm:flex">

  <div class="my-4">
    <app-sidebar-filtros></app-sidebar-filtros>
  </div>

  <div class="mx-3 m-5 ml-0 grid grid-cols-1 col-span-2 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-4 gap-3">
    <app-card-residencia class="sm:items-center sm:justify-center flex justify-center"></app-card-residencia>
    <app-card-residencia class="sm:items-center sm:justify-center flex justify-center"></app-card-residencia>
    <app-card-residencia class="sm:items-center sm:justify-center flex justify-center"></app-card-residencia>
    <app-card-residencia class="sm:items-center sm:justify-center flex justify-center"></app-card-residencia>
    <app-card-residencia class="sm:items-center sm:justify-center flex justify-center"></app-card-residencia>
  </div>

</div>
