@tailwind base;
@tailwind components;
@tailwind utilities;

.text-green{
  color: #04D361;
}

.focus-green:focus{
  border-color: #04D361 !important;
}

.teste{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin: auto;

}
