<aside id="default-sidebar" class="rounded-lg sm:p-5" aria-label="Sidebar" style="width: 100%;">
  <div class="sidebar-filtros px-5 py-5 overflow-y-auto bg-gray-50 dark:bg-gray-800 rounded-lg">

    <form>
      <p class="text-xl text-gray-300 font-medium ">Filtros</p>
      <div class="mb-6 mt-2">
          <div class="my-5">
              <input type="number" id="valor" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Valor">
          </div>
          <div class="my-5">
              <input type="number" id="qtdQuarto" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Quantidade de banheiros">
          </div>
          <div class="my-5">
              <input type="number" id="qtdBanheiro" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Quantidade de quartos">
          </div>
          <div class="my-5">
              <input type="number" id="qtdPessoas" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Quantidade de pessoas">
          </div>
      </div>
      <button type="submit" style="width: 100%;" class="text-white bg-green-df focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">Pesquisar</button>
  </form>

  </div>
</aside>
