<div>
  <app-navbar></app-navbar>
</div>

<div class="my-5">
  <app-filtro-busca></app-filtro-busca>
</div>

<div class="flex justify-between mx-auto">

  <div>
    <app-sidebar-filtros></app-sidebar-filtros>
  </div>

  <div class="mx-3 ml-0 grid grid-cols-1 col-span-2 md:grid-cols-2 lg:grid-cols-3 gap-3">
    <app-card-residencia></app-card-residencia>
    <app-card-residencia></app-card-residencia>
    <app-card-residencia></app-card-residencia>
    <app-card-residencia></app-card-residencia>
    <app-card-residencia></app-card-residencia>
  </div>

</div>



