
<app-navbar></app-navbar>

<div class="items-center justify-center  bg-gray-100 p-20">

      <div class="p-5 rounded h-full">


<div class="max-w-screen-xl mx-auto px-5 min-h-sceen">
	<div class="flex flex-col items-center">
		<h2 class="text-purple-700 font-bold text-5xl mt-5 tracking-tight">
			FAQ
		</h2>
		<p class="text-neutral-500 text-xl mt-3">
			Perguntas frequentes
		</p>
	</div>
	<div class="grid divide-y divide-neutral-200 max-w-xl mx-auto mt-8">
		<div class="py-5">
			<details class="group">
				<summary class="flex justify-between items-center font-medium cursor-pointer list-none">
          <span class="flex items-center"><svg class="w-5 h-5 mr-2 shrink-0" style="color: blueviolet;" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path></svg>Como encontrar quartos disponiveis?</span>
					<span class="transition group-open:rotate-180">
                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
                </svg>
              </span>
				</summary>
        <div class="p-5 border-gray-200 dark:border-gray-700">
          <ul class="max-w-md space-y-1 text-black list-disc list-inside dark:text-gray-400">
            <li class="text-black text-li">
               Você terá a opção de procura cidade para facilitar a busca.
            </li>
            <li class="text-black text-li">
                Também disponibilizados diversos filtros para que possa agradar você que está procurando um quarto
            </li>
          </ul>
        </div>
			</details>
		</div>
		<div class="py-5">
			<details class="group">
				<summary class="flex justify-between items-center font-medium cursor-pointer list-none">
          <span class="flex items-center"><svg class="w-5 h-5 mr-2 shrink-0" style="color: blueviolet;" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path></svg>Como anunciar quartos?</span>
					<span class="transition group-open:rotate-180">
                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
                </svg>
              </span>
				</summary>
        <div class="p-5 border-gray-200 dark:border-gray-700">
          <li class="text-black text-li">
            Deverá conter dados básicos como localidade, fotos, regras, quantidade de quartos, moradores.
         </li>
         <li class="text-black text-li">
            Poderá ser adicionado informações opicionais sobre o local anunciado.
         </li>
        </div>
			</details>
		</div>
		<div class="py-5">
			<details class="group">
				<summary class="flex justify-between items-center font-medium cursor-pointer list-none">
					<span class="flex items-center"><svg class="w-5 h-5 mr-2 shrink-0" style="color: blueviolet;" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path></svg>Como entrar em contato com os anunciantes?</span>
					<span class="transition group-open:rotate-180">
                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
            </svg>
              </span>
				</summary>
        <div class="p-5 dark:border-gray-700">
          <li class="text-black text-li">
            Acesse o anúncio
         </li>
         <li class="text-black text-li">
             Procure por informações adicionais do anunciantes
         </li>
         <li class="text-black text-li">
             Estará disponibilizados os dados de contato ( WhatsApp ou Email )
         </li>
        </div>
			</details>
		</div>
		<div class="py-5">
			<details class="group">
				<summary class="flex justify-between items-center font-medium cursor-pointer list-none">
					<span class="flex items-center"><svg class="w-5 h-5 mr-2 shrink-0" style="color: blueviolet;" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path></svg>Golpes</span>
					<span class="transition group-open:rotate-180">
                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
              </svg>
              </span>
				</summary>
        <div class="p-5 dark:border-gray-700">
          <ul class="max-w-md space-y-1 text-black list-disc list-inside dark:text-gray-400">
            <li class="text-black text-li">
               Cuidado com valores de alugueis muito baixos
            </li>
            <li class="text-black text-li">
                Sempre fique alerta sobre com quem está conversando
            </li>
            <li class="text-black text-li">
                Quando for combinar uma visita ao local sempre vá com algum acompanhante
            </li>
        </ul>
        <small class="mb-2">Nós da Alluni nos preocupamos muito com a segurança dos nosso usuários. Sempre estamos fazendo revisões sobre anúncios para que não seja causado nenhum problema.</small>
        </div>
			</details>
		</div>
		<div class="py-5">
			<details class="group">
				<summary class="flex justify-between items-center font-medium cursor-pointer list-none">
					<span class="flex items-center"><svg class="w-5 h-5 mr-2 shrink-0" style="color: blueviolet;" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path></svg>Perfil</span>
					<span class="transition group-open:rotate-180">
                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
              </svg>
              </span>
				</summary>
        <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700">
          <li class="text-black text-li">
            Sempre atualize o seu perfil.
         </li>
         <li class="text-black text-li">
           Deixe-o o mais completo, quanto mais completo mais segurança irá trazer tanto para negociar quanto anunciar.
         </li>
         <li class="text-black text-li">
             Mantenha sempre atento ao seu email e whatsapp.
         </li>
        </div>
			</details>
		</div>
	</div>
</div>

      <div class="flex text-center items-center justify-center m-10">
        <mat-icon >info</mat-icon>
        <p class="text-gray-600">Qualquer dúvida envie um email para <span class="text-blue-600">email@email.com</span></p>
      </div>
      </div>

</div>



<div>
  <app-footer></app-footer>
</div>
