<div>
  <app-navbar></app-navbar>
</div>


<div class="lg:mx-20 md:mx-5 sm:mx-10 mx-10">
  <div>
    <div class="my-10">
      <div>
          <h2 id="titulo">{{anuncio.dsin}}</h2>
          <h3 id="publicacao">Publicado em {{anuncio.createdDate}}</h3>
      </div>


      <div id="carouselExampleAutoplaying" class="img carousel slide" data-bs-ride="carousel">
        <div *ngFor="let anun of arrayFotos; index as i; first as isFirst" >
        <div class="carousel-inner">
          <div *ngIf="i == 0" class="carousel-item active">
            <img  src="{{anun.nome}}" class="m-auto" width="700px" height="700px" alt="...">
          </div>
<!--
          <div *ngIf="i != 0" class="carousel-item">
            <img  src="{{anun.nome}}" class="m-auto" width="700px" height="700px" alt="...">
          </div> -->
        </div>
        </div>
        <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button> -->
      </div>

      <div class="box-preco flex justify-end">
        <h4>R${{anuncio.valor}}</h4>
      </div>
      <div class="box-informacoes">
        <h3 class="title-informacoes">Localização:</h3>
        <div class="card-informacoes">
          <h4 id="cep">Cep: <span>{{anuncio.cep}}</span></h4>
          <h4 id="logradouro">Logradouro: <span>{{anuncio.rua}}</span></h4>
          <h4 id="municipio">Município: <span>{{anuncio.cidade}}</span></h4>
          <h4 id="bairro">Bairro: <span>{{anuncio.bairro}}</span></h4>
        </div>
      </div>
      <div class="box-informacoes">
        <h3 class="title-informacoes">Detalhes:</h3>
        <div class="card-informacoes">
          <p id="detalhes">{{anuncio.ddet}}</p>
        </div>
      </div>
      <div class="box-informacoes">
        <h3 class="title-informacoes">Descrição</h3>
        <div class="card-informacoes">
          <ul class="list-informacoes">
            <li>Quantidade de banheiros: <span>{{anuncio.qtd_banheiro}}</span> </li>
            <li>Quantidade de quartos: <span>{{anuncio.qtd_quarto}}</span></li>
          </ul>
        </div>
      </div>
      <div class="box-informacoes">
        <h3 class="title-informacoes">Comodidades</h3>
        <div class="card-informacoes">
          <ul class="list-informacoes">
            <li *ngIf="anuncio.ar == true">Ar condicionado</li>
            <li *ngIf="anuncio.wifi == true">Wifi</li>
            <li *ngIf="anuncio.limpeza == true">Limpeza</li>
            <li *ngIf="anuncio.manutencao == true">Manutenção</li>
          </ul>
        </div>
      </div>
      <div class="box-informacoes">
        <h3 class="title-informacoes">Regras:</h3>
        <div class="card-informacoes">

          <p *ngIf="anuncio.criancas == false && anuncio.fumantes == false" id="regras">O anunciante não informou as regras de seu imóvel anunciado. Você pode enviar uma mensagem para ele(a) para saber mais detalhes sobre a vaga.</p>

          <p *ngIf="anuncio.criancas == true">Crianças</p>
          <p *ngIf="anuncio.fumantes == true">Fumantes</p>

        </div>
      </div>
      <div class="box-informacoes">
        <h3 class="title-informacoes">Mapa:</h3>
        <div>
          <p id="visualizacao">Clique para mostrar os detalhes da visualização</p>
          <div class=" mt-4 mb-1 ">


            <a href="https://www.google.com/maps?q={{anuncio.cep}}" target="_blank" class="rounded h-12 w-48 text-md text-white color-bg p-2">
              Visualizar mapa
          </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
