<div>
  <app-navbar></app-navbar>
</div>

<div class="p-3 px-5">
  <p  class=" text-5xl font-semi-bold text-gray-900 dark:text-white pb-0">Anunciar imóvel</p>
  <small class="text-gray-600">Preencha os campos abaixo com informações sobre o quarto ou apartamento que você está oferecendo.</small>
</div>

<div class="lg:mx-20 md:mx-5 sm:mx-10 mx-5">

<form [formGroup]="anunciarForm">

  <div class="grid grid-flow-row-dense grid-cols-3">
      <div class="col-span-2 p-3">
          <label for="titulo" class=" block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nome do anúncio:</label>
          <input formControlName="dsin" type="text" id="titulo" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
      </div>
      <div class="p-3">
          <label for="preco" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Preço:</label>
          <input formControlName="valor" type="number" id="preco" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
      </div>
  </div>

  <div class="flex items-center justify-center w-full p-3">
    <label for="dropzone-file" class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
        <div class="flex flex-col items-center justify-center pt-5 pb-6">
            <svg aria-hidden="true" class="w-10 h-10 mb-3 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12"></path></svg>
            <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Clique para enviar</span> ou arraste e solte</p>
        </div>
        <input formControlName="foto" id="dropzone-file" type="file" class="hidden" />
    </label>
  </div>

  <div class="grid grid-flow-row-dense grid-cols-3">
    <div class="p-3">
        <label for="cep" class=" block mb-2 text-sm font-medium text-gray-900 dark:text-white">CEP:</label>
        <input type="text" formControlName="cep" id="cep" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
    </div>
    <div class="col-span-2 p-3">
        <label for="logradouro" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Logradouro:</label>
        <input type="text" formControlName="logradouro" id="logradouro" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
    </div>
  </div>

  <div class="grid md:grid-cols-2">
    <div class="p-3">
        <label for="bairro" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Bairro:</label>
        <input type="text" formControlName="bairro" id="bairro" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700">
    </div>
    <div class="p-3">
        <label for="cidade" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Cidade:</label>
        <input type="text" formControlName="cidade" id="cidade" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700">
    </div>
  </div>

  <div class="grid">
    <div class="p-3">
        <label for="complemento" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Complemento:</label>
        <input type="text" formControlName="complemento" id="complemento" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700">
    </div>

    <div class="p-3">
      <label for="referencia" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Referencia:</label>
      <input type="text" formControlName="referencia" id="referencia" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700">
    </div>

    <div class="p-3">
      <label for="detalhes" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Detalhes:</label>
      <input type="text" formControlName="ddet" id="detalhes" class="w-full h-40 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700">
    </div>
  </div>

  <div class="p-3">
    <p class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Informações</p>


    <p class="block mb-2 text-sm font-small text-gray-900 dark:text-white">Quantidade de quartos</p>
    <div class="flex items-center mb-4">
      <input id="1" type="radio" value="1" name="quartos" formControlName="qtd_quarto" class="w-4 h-4 text-green-600 bg-gray-100 border-gray-300 focus:ring-green-500 focus:ring-2">
      <label for="1" class="ml-2 mr-2 text-sm font-medium text-gray-900 dark:text-gray-300">1</label>

      <input id="2" type="radio" value="2" name="quartos" formControlName="qtd_quarto" class="w-4 h-4 text-green-600 bg-gray-100 border-gray-300 focus:ring-green-500 focus:ring-2">
      <label for="2" class="ml-2 mr-2 text-sm font-medium text-gray-900 dark:text-gray-300">2</label>

      <input id="3" type="radio" value="3" name="quartos" formControlName="qtd_quarto" class="w-4 h-4 text-green-600 bg-gray-100 border-gray-300 focus:ring-green-500 focus:ring-2">
      <label for="3" class="ml-2 mr-2 text-sm font-medium text-gray-900 dark:text-gray-300">3</label>

      <input id="4" type="radio" value="4" name="quartos" formControlName="qtd_quarto" class="w-4 h-4 text-green-600 bg-gray-100 border-gray-300 focus:ring-green-500 focus:ring-2">
      <label for="4" class="ml-2 mr-2 text-sm font-medium text-gray-900 dark:text-gray-300">4+</label>
    </div>


    <p class="block mb-2 text-sm font-small text-gray-900 dark:text-white">Quantidade de banheiros</p>
    <div class="flex items-center mb-4">
      <input id="1" type="radio" value="1" name="banheiros" formControlName="qtd_banheiro" class="w-4 h-4 text-green-600 bg-gray-100 border-gray-300 focus:ring-green-500 focus:ring-2">
      <label for="1" class="ml-2 mr-2 text-sm font-medium text-gray-900 dark:text-gray-300">1</label>

      <input id="2" type="radio" value="2" name="banheiros" formControlName="qtd_banheiro" class="w-4 h-4 text-green-600 bg-gray-100 border-gray-300 focus:ring-green-500 focus:ring-2">
      <label for="2" class="ml-2 mr-2 text-sm font-medium text-gray-900 dark:text-gray-300">2</label>

      <input id="3" type="radio" value="3" name="banheiros" formControlName="qtd_banheiro" class="w-4 h-4 text-green-600 bg-gray-100 border-gray-300 focus:ring-green-500 focus:ring-2">
      <label for="3" class="ml-2 mr-2 text-sm font-medium text-gray-900 dark:text-gray-300">3</label>
    </div>
  </div>

  <div class="p-3">
    <p class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Comodidade:</p>


      <ul class="grid grid-cols-1 sm:grid-cols-2 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-5 ">
        <li>
            <input type="checkbox" id="wifi" name="comodidade" formControlName="wifi" value="wifi" class="hidden peer">
            <label for="wifi" class="inline-flex items-center justify-center w-full md:w-60 lg:md:w-60 p-5 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer peer-checked:border-green-600 peer-checked:bg-green-600 peer-checked:text-white hover:text-gray-600 hover:bg-gray-100">
                <div class="block">
                    <div class="w-full text-lg font-semibold">WIFI</div>
                    <div class="text-center">
                      <span class="material-symbols-outlined w-6 h-6 text-center inline-flex items-center justify-center">
                        wifi
                      </span>
                    </div>
                </div>
            </label>
        </li>

        <li>
          <input type="checkbox" id="ar_condicionado" name="comodidade" formControlName="ar" value="ar_condicionado" class="hidden peer">
          <label for="ar_condicionado" class="inline-flex items-center justify-center w-full md:w-60 lg:md:w-60 p-5 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer peer-checked:border-green-600 peer-checked:bg-green-600 peer-checked:text-white hover:text-gray-600 hover:bg-gray-100">
              <div class="block">
                  <div class="w-full text-lg font-semibold">Ar Cond</div>
                  <div class="text-center">
                    <span class="material-symbols-outlined w-6 h-6 text-center inline-flex items-center justify-center">
                      ac_unit
                      </span>
                  </div>
              </div>
          </label>
      </li>
    </ul>

  </div>

  <div class="p-3">
    <p class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Serviços oferecidos:</p>
    <ul class="grid grid-cols-1 sm:grid-cols-2 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-5 ">
        <li>
            <input type="checkbox" id="manutencao" name="servicos" formControlName="manutencao" value="manutencao" class="hidden peer">
            <label for="manutencao" class="inline-flex items-center justify-center w-full md:w-60 lg:md:w-60 p-5 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer peer-checked:border-green-600 peer-checked:bg-green-600 peer-checked:text-white hover:text-gray-600 hover:bg-gray-100">
                <div class="block">
                    <div class="w-full text-lg font-semibold">Manutenção</div>
                    <div class="text-center">
                      <span class="material-symbols-outlined w-6 h-6 text-center inline-flex items-center justify-center">
                        handyman
                        </span>
                    </div>
                </div>
            </label>
        </li>

        <li>
          <input type="checkbox" id="limpeza" name="servicos" formControlName="limpeza" value="limpeza" class="hidden peer">
          <label for="limpeza" class="inline-flex items-center justify-center w-full md:w-60 lg:md:w-60 p-5 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer peer-checked:border-green-600 peer-checked:bg-green-600 peer-checked:text-white hover:text-gray-600 hover:bg-gray-100">
              <div class="block">
                  <div class="w-full text-lg font-semibold">Limpeza</div>
                  <div class="text-center">
                    <span class="material-symbols-outlined w-6 h-6 text-center inline-flex items-center justify-center">
                      cleaning_services
                      </span>
                  </div>
              </div>
          </label>
      </li>
    </ul>
  </div>

  <div class="p-3">
    <p class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Regras:</p>


    <div class="block mb-4">
      <p class="text-sm font-small text-gray-900 dark:text-white pr-10">Aceita fumantes?</p>

      <input id="fumar" type="radio" value="true" name="fumar" formControlName="fumantes" class="w-4 h-4 text-green-600 bg-gray-100 border-gray-300 focus:ring-green-500 focus:ring-2">
      <label for="fumar" class="mr-5 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Sim</label>

      <input id="fumar" type="radio" value="false" name="fumar" formControlName="fumantes" class="w-4 h-4 text-red-600 bg-gray-100 border-gray-300 focus:ring-red-500 focus:ring-2">
      <label for="fumar" class="mr-5 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Não</label>
    </div>

    <div class="block mb-4">
      <p class="text-sm font-small text-gray-900 dark:text-white pr-10">Aceita crianças?</p>

      <input id="criancas" type="radio" value="true" name="criancas" formControlName="criancas" class="w-4 h-4 text-green-600 bg-gray-100 border-gray-300 focus:ring-green-500 focus:ring-2">
      <label for="criancas" class="mr-5 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Sim</label>

      <input id="criancas" type="radio" value="false" name="criancas" formControlName="criancas" class="w-4 h-4 text-red-600 bg-gray-100 border-gray-300 focus:ring-red-500 focus:ring-2">
      <label for="criancas" class="mr-5 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Não</label>
    </div>

  </div>

  <div class="p-3">
    <button (click)="createAnuncio()" type="submit" class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">Submit</button>
  </div>

</form>



<div>
  <app-footer></app-footer>
</div>