.wrapper-logo-form{
  height: 100vh;
}

.login-img {
  height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-img img {
  width: 300px;
}

.login-content {
  background-color: #d9d9d9;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form-wrapper{
  width: 40%;
}


.login-content p {
  text-align: center;
  font-size: 42px;
  margin-bottom: 70px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.example-full-width{
  margin-bottom: 16px;
}

.form-button{
  display: flex;
  justify-content: center;
}

.form-button button{
  border-radius: 12px;
  padding: 0 20px;
  background: #04D361;
}

.spinner-border {
  width: 18px;
  height: 18px;
  font-size: 8px;
}

.register-link {
  margin-top: 70px;
  font-weight: bold;
  font-size: 16px;
}

.register-link a{
  margin-left: 20px;
  color: #5F2EEA;
}

.wrapper-text-line{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  text-transform: uppercase;
}

.wrapper-text-line .line{
  border: 1px solid black;
  width: calc(100% - 250px);
  height: 1px;

}

.wrapper-text-line .text{
  margin: 0 10px;
}

.wrapper-google-login{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.google-login-button{
  
  background: white;
  border-radius: 27px;
  padding: 1rem 1.5rem;
}