<div class="container-fluid">
  <div class="row wrapper-logo-form">
    <div class="col-6 login-img">
      <div>
        <img src="../../../assets/logo.png" alt="Logo Alluni" />
      </div>
    </div>
    <div class="col-6 login-content">
      <div class="login-form-wrapper">
        <p>Bem-vindo</p>

        <div class="bg-gray-200 rounded-lg m-5">
          <button (click) = "signIn()" *ngIf="user == null" mat-button class="google-login-button">
            <mat-icon>android</mat-icon>
          </button>
        </div>

          <!-- <button >SignIn</button> -->
          <button (click) = "signOut()" *ngIf="user != null">signOut</button>

          <div *ngIf="user != null">
            <div>Your are signed in with Google  {{user.getBasicProfile().getName()}}</div>
          </div>
      </div>
    </div>
  </div>
</div>
