<div>
    <app-navbar></app-navbar>
  </div>
  
  <div>
    <div class="mx-auto grid max-w-2xl grid-cols-1 items-start gap-y-16 gap-x-8 py-24 px-4 sm:px-6 sm:py-32 lg:max-w-7xl lg:grid-cols-2 lg:px-8">
      <div>
          <div >
            <p class="text-5xl font-normal tracking-wide">Facilitando contato entre colegas de quarto</p>
          </div>
          <div class="mt-6">
            <p class="text-base text-gray-500">Alluni é uma aplicação web/mobile que permite anunciar e procurar imóveis, especificamente repúblicas e quartos compartilhados, e então fazer o contato entre o locador e o locatário de forma rápida e segura.</p>
          </div>
          <div class="mt-6">
            <p class="text-base text-gray-500">O trabalho iniciou motivado pela entrega de um projeto junto a disciplina de Laboratório de Engenharia de Software e tornou-se realidade durante todo o processos de desenvolvimento.</p>
          </div>
          <div class="mt-6">
            <p class="text-base text-gray-500">Alluni foi idealizado por seis empreendedores (alunos) a fim de concretizar este projeto e oportunizar e alavancar o aplicativo.</p>
          </div>
          <div class="flex justify-start gap-2 mt-6">
             <div class=" m-10 mt-4 mb-1 rounded-xl h-12 w-48 bg-green-500 font-bold text-lg text-white relative overflow-hidden">
                <button class="rounded-xl h-12 w-48 relative">
                  Mais sobre nós
                </button>
            </div>
            <div class="button-black m-10 mt-4 mb-1 rounded-xl h-12 w-48 font-bold text-lg text-black relative overflow-hidden">
              <button class="rounded-xl h-12 w-48 relative">
                Buscar
              </button>
            </div>
          </div>
      </div>
      <div>
        <img src="../assets/background.png" alt="Walnut card tray with white powder coated steel divider and 3 punchout holes." class="rounded-lg bg-white">
      </div>
    </div>
  </div>
  
  <div class="bg-indigo-600 flex justify-center p-7">
    <div class="p-5">
        <div href="#" class="block max-w-sm p-5 rounded-lg text-center">
          <div class="flex justify-center text-white py-2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-12 h-12">
              <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75m-3-7.036A11.959 11.959 0 013.598 6 11.99 11.99 0 003 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285z" />
            </svg>
          </div>       
          <p class="mb-2 text-2xl font-medium tracking-tight text-white">Missão</p>
          <p class="font-normal text-white">Proporcionar aos estudantes e repúblicas um ambiente fácil e dinâmico para realização de locações de quartos e/ou imóveis.</p>
        </div>
    </div>
    <div class="p-5">
      <div href="#" class="block max-w-sm p-5 rounded-lg text-center">
        <div class="flex justify-center text-white py-2">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-12 h-12">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75m-3-7.036A11.959 11.959 0 013.598 6 11.99 11.99 0 003 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285z" />
          </svg>        
        </div>    
        <p class="mb-2 text-2xl font-medium tracking-tight text-white">Visão</p>
        <p class="font-normal text-white">Ser a melhor aplicação do Brasil para locação de quartos de república.</p>
      </div>
    </div>
    
    <div class="p-5">
      <div class="block max-w-sm p-5 rounded-lg text-center">
        <div class="flex justify-center text-white py-2">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-12 h-12">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75m-3-7.036A11.959 11.959 0 013.598 6 11.99 11.99 0 003 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285z" />
          </svg>        
        </div>
        <p class="mb-2 text-2xl font-medium tracking-tight text-white">Valores</p>
        <ul class="font-normal text-white">
          <li>Integridade e Honestidade</li>
          <li>Empenho para os usuários e parceiros</li>
          <li>Respeito entre todos time e usuários</li>
          <li>Pensamento ético</li>
          <li>Comprometido com o trabalho</li>
        </ul>
      </div>
    </div>
  </div>
  
  <div class="flex justify-center my-6">
    <img src="../assets/Organograma.png">
  </div>
  
  
  <footer class=" bg-white rounded-lg shadow m-4 dark:bg-gray-800">
    <div class="w-full mx-auto container md:p-6 p-4 md:flex md:items-center md:justify-between">
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023 <a href="#" class="hover:underline">Alluni</a>. All Rights Reserved.
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
        <li>
            <a href="#" class="mr-4 hover:underline md:mr-6 "><img src="../assets/icons/twitter.png" class="h-5 w-5"></a>
        </li>
        <li>
          <a href="#" class="mr-4 hover:underline md:mr-6 "><img src="../assets/icons/facebook.png" class="h-5 w-5"></a>
        </li>
        <li>
          <a href="#" class="mr-4 hover:underline md:mr-6 "><img src="../assets/icons/instagram.png" class="h-5 w-5"></a>
        </li>
    </ul>
    </div>
  </footer>
  
